# Segurança e Segredos
.env

# Ambientes Virtuais
venv/

# Python (Cache e Bytecode)
__pycache__/
*.py[cod]
*$py.class

# IDE - VS Code
.vscode/

# Logs e Dados Temporários
*.log

#.py
test_mongo.py
models.py